<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 class="">Table User Game</h1>
    <a href="/create">Add/Edit User Game</a>
    <br />
    <table class="table-auto">
        <tr>
            <th>ID</th>
            <td>1</td>
        </tr>
        <tr>
            <th>Username</t>
            <td>Maria Anders</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>1/1/2022</td>
        </tr>
        <tr>
            <th>Place of Birth</th>
            <td>Jakarta</td>
        </tr>
        <tr>
            <th>City</th>
            <td>Bogor</td>
        </tr>
    </table>
    <table class="table-auto">
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td>12314234</td>
            <td>win</td>
        </tr>
        <tr>
            <td>2</td>
            <td>535123532</td>
            <td>Draw</td>
        </tr>
        <tr>
            <td>3</td>
            <td>535123532</td>
            <td>Win</td>
        </tr>
    </table>
</body>

</html>